# Data Preprocessing

In [1]:
import pandas as pd

In [25]:
# load data
url1 = "../../data/processed/naz/1bola.xlsx"
url2 = "../../data/processed/naz/2bola.xlsx"
url3 = "../../data/processed/naz/3bola.xlsx"
url4 = "../../data/processed/naz/4bola.xlsx"
url5 = "../../data/processed/naz/5bola.xlsx"

names = ['lam_max1', 'csc_max1', 'lam_min', 'csc_min','lam_fwhm1','c_mid','lam_max2','csc_max2','lam_fwhm2','fwhm','posisi1','posisi2', 'posisi3','posisi4','posisi5','arah_k','arah_E','sb_putar','sudut1','sudut2','ket'] 
d1 = pd.read_excel(url1, names=names, header=None)
d2 = pd.read_excel(url2, names=names, header=None)
d3 = pd.read_excel(url3, names=names, header=None)
d4 = pd.read_excel(url4, names=names, header=None)
d5 = pd.read_excel(url5, names=names, header=None)

In [26]:
d1.head()

,lam_max1,csc_max1,lam_min,csc_min,lam_fwhm1,c_mid,lam_max2,csc_max2,lam_fwhm2,fwhm,...,posisi2,posisi3,posisi4,posisi5,arah_k,arah_E,sb_putar,sudut1,sudut2,ket
0,408,2.774638e-14,434,2.264798e-14,464,4.239645e-14,474,6.214492e-14,484,1,...,0,0,0,1,2,1,0,0,0,NaN
1,410,2.984472e-14,432,2.725996e-14,464,4.555423e-14,474,6.384849e-14,484,1,...,0,0,0,1,2,1,1,5,0,NaN
2,362,2.400898e-14,390,1.436011e-14,442,4.153600e-14,472,6.871189e-14,488,1,...,0,0,0,1,2,1,3,0,0,NaN
3,364,2.971955e-14,392,1.702803e-14,412,4.696978e-14,470,7.691152e-14,488,1,...,0,0,0,1,2,1,4,5,0,NaN
4,366,3.552294e-14,392,1.962838e-14,412,5.500586e-14,462,9.038334e-14,488,1,...,0,0,0,1,2,1,6,0,0,NaN

In [15]:
tanpabola3 = pd.concat([d1, d2, d4, d5], ignore_index=True)

In [16]:
tanpabola3.shape

(1071, 21)

In [17]:
tanpabola3.head(10)

,lam_max1,csc_max1,lam_min,csc_min,lam_fwhm1,c_mid,lam_max2,csc_max2,lam_fwhm2,fwhm,...,posisi2,posisi3,posisi4,posisi5,arah_k,arah_E,sb_putar,sudut1,sudut2,ket
0,408,2.774638e-14,434,2.264798e-14,464,4.239645e-14,474,6.214492e-14,484,1,...,0,0,0,1,2,1,0,0,0,NaN
1,410,2.984472e-14,432,2.725996e-14,464,4.555423e-14,474,6.384849e-14,484,1,...,0,0,0,1,2,1,1,5,0,NaN
2,362,2.400898e-14,390,1.436011e-14,442,4.153600e-14,472,6.871189e-14,488,1,...,0,0,0,1,2,1,3,0,0,NaN
3,364,2.971955e-14,392,1.702803e-14,412,4.696978e-14,470,7.691152e-14,488,1,...,0,0,0,1,2,1,4,5,0,NaN
4,366,3.552294e-14,392,1.962838e-14,412,5.500586e-14,462,9.038334e-14,488,1,...,0,0,0,1,2,1,6,0,0,NaN
5,366,3.979963e-14,392,2.153163e-14,412,6.262032e-14,460,1.037090e-13,486,1,...,0,0,0,1,2,1,7,5,0,NaN
6,408,1.600910e-14,430,1.309086e-14,454,2.136122e-14,462,2.963157e-14,470,1,...,0,0,0,1,2,1,9,0,0,NaN
7,408,2.774638e-14,434,2.264798e-14,464,4.239645e-14,474,6.214492e-14,484,1,...,0,0,0,1,2,3,0,0,0,NaN
8,410,2.984472e-14,432,2.725996e-14,464,4.555423e-14,474,6.384849e-14,484,1,...,0,0,0,1,2,3,1,5,0,NaN
9,362,2.400898e-14,390,1.436011e-14,442,4.153600e-14,472,6.871189e-14,488,1,...,0,0,0,1,2,3,3,0,0,NaN